<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shushan.manhua">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- Google支付权限 -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".ManHuaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".mvp.ui.activity.book.RankingActivity" />
        <activity android:name=".mvp.ui.activity.book.BookClassificationActivity" />
        <activity
            android:name=".mvp.ui.activity.book.ReadBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwTxtFullScreen" />
        <activity
            android:name=".mvp.ui.activity.main.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.setting.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.splash.ProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.book.LookPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.ReadingSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.RuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.MoreCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.LongDeleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.CheckInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.PurchasedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.user.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.user.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.TransactionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.BuyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.MemberCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.ReadingHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.CommentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.BookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.BarrageSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.book.ReadActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.shushan.manhua"
                    android:pathPrefix="/read"
                    android:scheme="pulaukomik" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="pulaukomik" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" /> <!-- facebook 分享/登录 @string/facebook_app_id -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity> <!-- facebook 分享/登录 @string/facebook_app_id -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider486323411986591"
            android:exported="false" />
    </application>

</manifest>